{% extends 'base.html' %}
{% block content %}

<h1 class="title is-1">Ingredient Details</h1>

<div class="box ing-details">
    <p>Ingredient: {{ ingredient.name }}</p>
    <p>Food Group: {{ ingredient.food_group }}</p>
    <form action="{% url 'edit_ing' ingredient.id %}">
        {% csrf_token %}
        <button type="submit" class="button is-info">Edit</button>
    </form>
    <form action="{% url 'del_ing' ingredient.id %}">
        {% csrf_token %}
        <button type="submit" class="button is-danger">Delete</button>
    </form>
</div>

{% endblock %}