{% extends 'base.html' %}
{% block content %}

<h1 class="title is-1">All Soups</h1>

<div class="soup-list">
    {% for soup in soups %}
        <div class="soup box">
            <span class="soup-name">{{ soup.name }}</span>
            <hr />
            <p>Origin: {{ soup.origin }}</p>
            <p>Ingredients:</p>
            <ul>
                {% for ing in soup.ingredients %}
                    <li>- {{ ing }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>

{% endblock %}