{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soup Collector</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav class="navbar" id="nav-bar">
            <ul>
                <li class="navbar-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="navbar-divider"></li>
                <li class="navbar-item"><a href="{% url 'about' %}">About</a></li>
                <li class="navbar-divider"></li>
                <li class="navbar-item"><a href="{% url 'add_ing' %}">Add an Ingredient</a></li>
                <li class="navbar-divider"></li>
                <li class="navbar-item"><a href="{% url 'ing_index' %}">All Ingredients</a></li>
                <li class="navbar-divider"></li>
                <li class="navbar-item"><a href="{% url 'add_soup' %}">Add a Soup</a></li>
                <li class="navbar-divider"></li>
                <li class="navbar-item"><a href="{% url 'index' %}">All Soups</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer" id="footer-content">
        <p>Soup Collector&#8482; 2024</p><br />
    </footer>
</body>
</html>