#footer-content {
    position: absolute;
    color: aqua;
    z-index: -1;
    bottom: 0;
    width: 100%;
    text-align: right;
}
    
#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: 10px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.soup-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#soup-index {
    margin-bottom: 1rem;
}

.box {
    width: 20rem;
    text-align: center;
    line-height: 1.5rem;
}

.box > hr {
    margin: 10px;
}

.soup-detail {
    margin: 0 auto;
}