#footer-content {
    position: absolute;
    color: aqua;
    z-index: -1;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.footer {
    padding: 1rem;
}
    
#nav-bar {
    position: absolute;
    top: 5px;
    left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: 10px;
}

h1 {
    text-align: center;
    margin-top: 8rem;
}

h3 {
    text-align: center;
}

.soup-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#soup-index {
    margin-bottom: 1rem;
}

.box {
    width: 20rem;
    text-align: center;
    line-height: 1.5rem;
}

.box > hr {
    margin: 10px;
}

.soup-detail {
    margin: 0 auto;
}

.soup-detail > * {
    margin-bottom: 8px;
}

#create_edit_form {
    margin: 0 auto;
}

table {
    margin-bottom: 10px;
}

th, td {
    padding: 5px
}

#soup-del-form, .meal-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto 0;
}

.meal-detail > form > * {
    margin-bottom: 10px;
}

#meal-detail > table {
    width: 100%;
}

.ing-list {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.ing-details, .ing-form {
    margin: 2rem auto;
}

.ing-form > *, .ing-details > * {
    margin-bottom: 5px;
}

.ing-delete-form {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}